<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <h1>{{subTitle}}</h1>
    <h1>{{example}}</h1>
    <input type="text" id="val" />
    <button id="btn">Klikaj mnie</button>
    <div id="output"></div>
    <a href="./about">Przejdz do strony o mnie</a>
    <script src="../js/func.js"></script>
  </body>
</html>